<% provide(:title, 'Sign up') %>

<div id="sign-up-box">
  
  <h2>Sign up</h2>

  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <%= f.submit "Create my account", class: "btn btn-default" %>
  <% end %>
</div>