<% provide(:title, 'Sign up') %>

<div class="col-sm-6 col-sm-offset-3" id="sign_up_box">
  
  <h2>Sign up</h2>

  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>

    <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
    </div>

    <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
    </div>

    <div class="form-group">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit "Create my account", class: "btn btn-default" %>
  <% end %>
</div>