<% provide(:title, 'Company List') %>

<% if signed_in? %>
<div class="col-sm-12">
<h2>Manage Current Subscriptions</h2>
</div>
<% end %>

<div class=<%= signed_in? ? "col-sm-6" : "col-sm-9"%>>

<% if signed_in? %>
<h3>All Companies</h3>
<% else %>
<h2>Hong Kong-listed Companies</h2>
<% end %>	
<input type="text" class="form-control" id="company-search" placeholder="Type to search by name or ticker">
<table class="table well tablesorter" id="company-index">
	<tbody>
	<% Company.order(:hk_ticker).each do |coy| %>
		<tr>
			<td class="company-index-name"><%= link_to (coy.pretty_name.blank? ? coy.name : coy.pretty_name), show_ticker_path(coy.hk_ticker) %></td>
			<td class="company-index-ticker"><%= coy.ticker %></td>
			<% if signed_in? %>
				<% if current_user.companies.include? coy %>
					<td><%= link_to "Following", unfollow_path(coy.hk_ticker), class: "btn btn-success btn-xs", id: dom_id(coy), remote: true %></td>
				<% else %>
					<td><%= link_to "Not Following", follow_path(coy.hk_ticker), class: "btn btn-primary btn-xs", id: dom_id(coy), remote: true %></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>
	</tbody>
</table>
</div>
<% if signed_in? %>
<div class="col-sm-6">
<h3>My Current Subscriptions</h3>
<input type="text" class="form-control" id="my-companies-search" placeholder="Type to search by name or ticker">
<table class="table well tablesorter" id="company-subscriptions">
	<tbody>
	<% current_user.companies.order(:hk_ticker).each do |coy| %>
		<tr>
			<td class="company-sub-name"><%= link_to (coy.pretty_name.blank? ? coy.name : coy.pretty_name), show_ticker_path(coy.hk_ticker) %></td>
			<td class="company-sub-ticker"><%= coy.ticker %></td>
			<td><%= link_to "Unfollow", unfollow_path(coy.hk_ticker), class: "btn btn-danger btn-xs", id: (dom_id(coy) + "-current"), remote: true %></td>
		<tr>
	<% end %>
	</tbody>
</table>
</div>
<% else %>
<%= render 'layouts/sidebar' %>
<% end %>
