<h2><%= @coy.name %> (<%= @coy.ticker %>)</h2>

<h3>Latest Announcements</h3>
<table class="table table-striped">
	<thead>
		<tr>
		<th>#</th>
    	<th>Date</th>
    	<th>Time</th>
    	<th>Announcement</th>
    	<th>Link</th>
    </tr>
  </thead>
  <tbody id="announcements-body">
  	<% @coy.announcements.each do |annc| %>
  	<tr>
  		<td>#</td>
  		<td><%= annc.date %></td>
  		<td><%= annc.time %></td>
  		<td><%= annc.message %></td>
  		<td><%= annc.url %></td>
  	</tr>
  	<% end %>
  </tbody>
</table>


