<h2><%= @coy.name %> (<%= @coy.ticker %>)</h2>

<h3>Latest Announcements</h3>
<table class="table table-striped">
	<thead>
		<tr>
		<th>#</th>
    	<th>Time</th>
    	<th>Announcement</th>
    	<th>Link</th>
    </tr>
  </thead>
  <tbody id="announcements-body">
  	<% @coy.announcements.each_with_index do |annc ,i| %>
  	<tr>
  		<td><%= i+1 %></td>
  		<td><%= annc.datetime %></td>
  		<td><%= annc.message %></td>
  		<td><a href="<%= annc.url %>">file</a></td>
  	</tr>
  	<% end %>
  </tbody>
</table>


