<% provide(:title, @coy.hk_ticker.to_s) %>

<div class=<%= signed_in? ? "col-sm-12" : "col-sm-9"%>>
<% if !@coy.pretty_name.blank? %>
    <h2><%= @coy.pretty_name %> (<%= @coy.ticker %>)</h2>
<% else %>
    <h2><%= @coy.name %> (<%= @coy.ticker %>)</h2>
<% end %>

<% if signed_in? %>
  <% if current_user.companies.include? @coy %>
    <%= link_to "Following", unfollow_path, class: "btn btn-success btn-md", id: dom_id(@coy), remote: true %>
  <% else %>
    <%= link_to "Not Followed", follow_path, class: "btn btn-primary btn-md", id: dom_id(@coy), remote: true %>
  <% end %>
<% end %>

<h3>Latest Announcements</h3>
<table class="table table-striped">
	<thead>
		<tr>
    		<th>#</th>
        	<th>Time</th>
        	<th>Announcement</th>
        	<th>Link</th>
        </tr>
    </thead>
    <tbody>
      	<% @coy.announcements.order("datetime desc").each_with_index do |annc ,i| %>
          	<tr>
          		<td><%= i+1 %></td>
          		<td><%= annc.datetime.to_formatted_s(:long) %> HKT</td>
          		<td><%= annc.message %></td>
          		<td><a href="<%= annc.url %>" target="_blank"><i class="fa fa-file-pdf-o"> </i></a></td>
          	</tr>
      	<% end %>
    </tbody>
</table>
</div>
<% if !signed_in? %>
<%= render 'layouts/sidebar' %>
<% end %>

