<!DOCTYPE html>
<html>
<head>
  <title>HK Equities</title>
  <%= render 'layouts/shim' %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render 'layouts/header' %>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9"><%= yield %></div>
			<div class="col-sm-3">
				<h4>About HK Equities</h4>
				<p>HK Equities is a near real-time notification service for Hong Kong Stock Exchange (HKEx) listed company announcements. Are you a capital markets or M&amp;A banker, investor, or corporate PR person who needs to be notified right after your company's announcement hits the exchange?</p>
				<a class="btn btn-large btn-primary" href="#">Sign up now!</a>
			</div>
		</div>
	</div>

</body>
</html>
